doctype html
html(lang='hu')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title 10 - Házasság

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.jpg')

        // Bootstrap icons
        link(href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css', rel='stylesheet', type='text/css')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body

        // Navigation
        nav.navbar.navbar-light.bg-light.static-top
            .container
                a.navbar-brand(href='#!') 10es Házasság
                a.btn.btn-primary(href='#signup') Mondj Igent!

        // Masthead
        header.masthead
            .container.position-relative
                .row.justify-content-center
                    .col-xl-6
                        .text-center.text-white
                            // Page heading
                            h1.mb-5 Házasodj 10 évre, ne örökre!

                            // Signup form

                            // * * * * * * * * * * * * * * *
                            // * * SB Forms Contact Form * *
                            // * * * * * * * * * * * * * * *

                            // This form is pre-integrated with SB Forms.
                            // To make this form functional, sign up at
                            // https://startbootstrap.com/solution/contact-forms
                            // to get an API token!

                            form.form-subscribe#contactForm(data-sb-form-api-token='API_TOKEN')

                                // Email address input
                                .row
                                    .col
                                        input#emailAddress.form-control.form-control-lg(type='email' placeholder='Email cím' data-sb-validations='required,email')
                                        .invalid-feedback.text-white(data-sb-feedback='emailAddress:required')
                                            | Email cím kötelező.
                                        .invalid-feedback.text-white(data-sb-feedback='emailAddress:email')
                                            | Email cím nem megfelelő.

                                    .col-auto
                                        button#submitButton.btn.btn-primary.btn-lg.disabled(type='submit') Érdekel

                                // Submit success message
                                //
                                // This is what your users will see when the form
                                // has successfully submitted

                                #submitSuccessMessage.d-none
                                    .text-center.mb-3
                                        .fw-bolder Form submission successful!
                                        p To activate this form, sign up at
                                        a.text-white(href='https://startbootstrap.com/solution/contact-forms') https://startbootstrap.com/solution/contact-forms

                                // Submit error message
                                //
                                // This is what your users will see when there is
                                // an error submitting the form

                                #submitErrorMessage.d-none
                                    .text-center.text-danger.mb-3 Error sending message!

        // Icons Grid
        section.features-icons.bg-light.text-center
            .container
                .row
                    .col-lg-4
                        .features-icons-item.mx-auto.mb-5.mb-lg-0.mb-lg-3
                            .features-icons-icon.d-flex
                                i.bi-window.m-auto.text-primary
                            h3 Házassag mindenkinek
                            p.lead.mb-0 Mivel mindenki egyenlő ezen a földön, heteró es meleg pároknak egyaránt lehetöségük van házasodni.
                    .col-lg-4
                        .features-icons-item.mx-auto.mb-5.mb-lg-0.mb-lg-3
                            .features-icons-icon.d-flex
                                i.bi-layers.m-auto.text-primary
                            h3 Új irány
                            p.lead.mb-0 Boldog házasság elejétől a végéig, mert nem csak a kezdetekben lehetünk boldogak.
                    .col-lg-4
                        .features-icons-item.mx-auto.mb-0.mb-lg-3
                            .features-icons-icon.d-flex
                                i.bi-terminal.m-auto.text-primary
                            h3 Szabadság a pároknak
                            p.lead.mb-0 Ha szeretsz valakit akkor el is tudod engedni, de ha mégsem, örökre együtt lehettek.

        // Image Showcases
        section.showcase
            .container-fluid.p-0
                .row.g-0
                    .col-lg-6.order-lg-2.text-white.showcase-img(style="background-image: url('assets/img/bg-showcase-1.jpg');")
                    .col-lg-6.order-lg-1.my-auto.showcase-text
                        h2 10 év, nem több!
                        p.lead.mb-0
                            | A szerződés hossza 10 év, egy nappal sem több. Ha mar nem vagy szerelmes es úgy érzed hogy nincs ami összetart pároddal, egyszerűen csak ne írj alá új szerződést és lépj tovább.
                .row.g-0
                    .col-lg-6.text-white.showcase-img(style="background-image: url('assets/img/bg-showcase-2.jpg');")
                    .col-lg-6.my-auto.showcase-text
                        h2 Felejtsd el a válópert
                        p.lead.mb-0
                            | Mivel nem örökre kötelezed el magad az elavult házassági modellel, így válópereskedni sem kell. Minden pénzt amit te keresel meg, az a tied is marad. Házassági szerződésről beszélnetek sem kell.
                .row.g-0
                    .col-lg-6.order-lg-2.text-white.showcase-img(style="background-image: url('assets/img/bg-showcase-3.jpg');")
                    .col-lg-6.order-lg-1.my-auto.showcase-text
                        h2 Akár örökre is
                        p.lead.mb-0
                            | Ha szeretitek egymást akkor örökké együtt lehettek és boldogan élhettek, amíg a halál el nem választ.

        // Testimonials
        section.testimonials.text-center.bg-light
            .container
                h2.mb-5 Párok véleményei...
                .row
                    .col-lg-4
                        .testimonial-item.mx-auto.mb-5.mb-lg-0
                            img.img-fluid.rounded-circle.mb-3(src='assets/img/testimonials-1.jpg', alt='...')
                            h5 Margit & Judit
                            p.font-weight-light.mb-0 "Sajnos Magyarországon a kisebbségek nem házasodhatnak. Így 10 évre mi is - nem heteroszexuálisok - megtapasztalhatjuk, hogy milyen a házas élet."
                    .col-lg-4
                        .testimonial-item.mx-auto.mb-5.mb-lg-0
                            img.img-fluid.rounded-circle.mb-3(src='assets/img/testimonials-2.jpg', alt='...')
                            h5 Dani & Lotti
                            p.font-weight-light.mb-0
                                | "Sokkal egyszerűbb így házasodni, mint a hagyományos úton. Ezenfelül fontos volt nekünk, hogy ne kelljen a penzügyi dolgokkal foglalkozni egy válás esetén."
                    .col-lg-4
                        .testimonial-item.mx-auto.mb-5.mb-lg-0
                            img.img-fluid.rounded-circle.mb-3(src='assets/img/testimonials-3.jpg', alt='...')
                            h5 Peti & Réka
                            p.font-weight-light.mb-0 "Mind a ketten fontosnak tartjuk, hogy ne kényelmesedjünk el a kapcsolatunkban. Erre a 10 éves házasság egy tökéletes megoldás."

        // Call to Action
        section#signup.call-to-action.text-white.text-center
            .container.position-relative
                .row.justify-content-center
                    .col-xl-6
                        h2.mb-4 Készen állsz? Iratkozz fel:
                        // Signup form
                        
                        // * * * * * * * * * * * * * * *
                        // * * SB Forms Contact Form * *
                        // * * * * * * * * * * * * * * *

                        // This form is pre-integrated with SB Forms.
                        // To make this form functional, sign up at
                        // https://startbootstrap.com/solution/contact-forms
                        // to get an API token!

                        form.form-subscribe#contactFormFooter(data-sb-form-api-token='API_TOKEN')

                            // Email address input
                            .row
                                .col
                                    input#emailAddressBelow.form-control.form-control-lg(type='email' placeholder='Email cím' data-sb-validations='required,email')
                                    .invalid-feedback.text-white(data-sb-feedback='emailAddressBelow:required')
                                        | Email cím kötelező.
                                    .invalid-feedback.text-white(data-sb-feedback='emailAddressBelow:email')
                                        | Email cím nem megfelelő.
                                .col-auto
                                    button#submitButton.btn.btn-primary.btn-lg.disabled(type='submit') Igen!

                            // Submit success message
                            //
                            // This is what your users will see when the form
                            // has successfully submitted

                            #submitSuccessMessage.d-none
                                .text-center.mb-3
                                    .fw-bolder Köszönjük szépen, hamarosan jelentkezünk.
                                    p To activate this form, sign up at
                                    a.text-white(href='https://startbootstrap.com/solution/contact-forms') https://startbootstrap.com/solution/contact-forms

                            // Submit error message
                            //
                            // This is what your users will see when there is
                            // an error submitting the form

                            #submitErrorMessage.d-none
                                .text-center.text-danger.mb-3 Hiba, eltört a mécses.

        // Footer
        footer.footer.bg-light
            .container
                .row
                    .col-lg-6.h-100.text-center.text-lg-start.my-auto
                        
                        p.text-muted.small.mb-4.mb-lg-0 &copy; 10 Házasság 2022. Minden jog fenntartva.
                    .col-lg-6.h-100.text-center.text-lg-end.my-auto
                        ul.list-inline.mb-0
                            li.list-inline-item.me-4
                                a(href='#!')
                                    i.bi-facebook.fs-3
                            li.list-inline-item
                                a(href='#!')
                                    i.bi-instagram.fs-3

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')

        // * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
        // * *                               SB Forms JS                               * *
        // * * Activate your form at https://startbootstrap.com/solution/contact-forms * *
        // * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

        script(src='https://cdn.startbootstrap.com/sb-forms-latest.js')